@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: grey;
}

h1, h2, h3 {
    font-family: Gafata, sans-serif;
}

#company {
    float: left;
    background-image: url('../images/logo.png');
    font-size: 200%;
    margin-left: 55px;
}

#navmenu {
    font-size: 100%;
    letter-spacing: 2px;
}

#navmenu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#navmenu, #company {
    line-height: 75px;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/a-drop.jpg')no-repeat center center;
}